package main

templ boilerplate(content templ.Component, viewClass string, pathToRoot string){
<style>
	main {
		margin-top: 15vh;
		width: 100vw;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}
	.navbar {
		padding-right: 1.5rem;
		padding-top: 16px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		text-align: right;
	}
	.navbar a {
		margin-bottom: 0.5rem;
	}
	.content-wrapper {
		max-width: 800px;
		width: 60vw;
		min-width: 320px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.content-wrapper.blog {
		width: 80vw;
		max-width: 1200px;
	}
	div > span {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-bottom: 8px;
	}
	.footer-links {
		margin-top: 8px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	@media only screen and (max-width: 600px) {
		main {
			flex-direction: column;
			margin-top: min(5vh, 30px);
			margin-left: min(5vw, 60px);
		}
		.navbar {
			flex-direction: row;
			text-align: left;
			justify-content: center;
		}
		.content-wrapper {
			width: 90vw;
		}
		.navbar a {
			margin-right: 12px;
		}
	}

</style>

<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href={pathToRoot +"css/reset.css"} />
  <link rel="stylesheet" href={pathToRoot +"css/main.css"} />
  <link rel="stylesheet" href={pathToRoot +"css/font.css"} />
  <link rel="stylesheet" href={pathToRoot +"css/code.css"} />
</head>



<main>
	<nav class={viewClass + " navbar"}>
		<a class="" href="/">~</a>
		<a href="/about/">about</a>
		<a href="/resume/">hire me 😳</a>
		<a href="/projects/">projects</a>
		<a class="" href="/mail/">mail list</a>
		<a href="/blog/">blog</a>
		<a id="theme" onclick="change_theme()" >theme</a>
	</nav>

	<div class={viewClass + " content-wrapper"}>
		<span>+-------------+</span>
        @content
		<footer class="footer-links">
			<span>+-------------+</span>
			<div>
				<a class="" href="/contact">contact</a>
				<a class="" href="https://github.com/JUB-Yoush" target="_blank">github</a>
				<a class="" href="https://yoush.itch.io/" target="_blank">itch.io</a>
				<a class="" href="/rss">rss</a>
			</div>
			<div></div>
		</footer>
    </div>
</main>
<script src={pathToRoot + "js/theme.js"}></script>
</html>
}

templ homeContent(){
<style>
	
.home_gif {
    height: 20vw;
    max-height: 250px;
    min-height: 150px;
    width: fit-content;

}


.box {
    padding: 4px;
    border-style: solid;
    border-color: var(--color);
    border-width: 2px;
    margin-bottom: 1rem;
}
</style>

<title>Jaydenpb dot net</title>
<meta property="og:title" content="Jaydenpb dot net">

<h1>/jaydenpb.net</h1> 

<img id="home_gif_id" class="home_gif" src="" alt="">
<br>
<a id="gif_caption" class="gif-changer" href="javascript:;" onclick="change_gif()">gif_caption</a>

<br>
<br>

<h2>
Hi
</h2> 

<p> I'm Jayden, a computer science student at the Lassonde school of Engineering (a school at York University) </p>

<p>While you're here, feel free to learn more <a href="/about/index.html">about me</a>, check out what I'm [up to](/projects) or what I'm [thinking about](/blog).</p>

<p> Thanks for stopping by. </p>

<div class="box">
<p>If you didn't know, <a href="/resume">I'm very hireable 😳.</a> Currently looking for:
<br>
<br>
</p>
New Graduate (or internship I guess) roles for Winter or Summer 2026.
</div>
<script src="js/home.js"></script>
}

templ aboutContent(){
<style>

.about-img {
    height: 20vw;
    max-height: 250px;
    min-height: 150px;
    width: fit-content;

}
</style>
<title>About</title>
<meta property="og:title" content="About">
<script src="../js/about.js"> </script>

<h1 > ~/about_me </h1> 

<img class="about-img" src="../img/mm.png" alt="">
<br>
<a class="source" href="https://www.instagram.com/apple_toast/?hl=en" target="_blank">mercury man commission by @apple_toast</a>
<br>
<br>

<p>I'm Jayden, a computer science student at York University.
I'm a certified Digital Doohickey Maker to some, Software Engineer to others.</p>

<p>
I've been in love with programming and creating with computers since modifying old Nintendo games and consoles with fan-made hacking tools (don't look for my old starmen.net account, my Earthbound hacks were very bad).
</p>

<p>
I got my start proper with using Gamemaker 8.1 in grade 10 to make simple games, and that's when my interest in programming really began.
</p>

<p>
Since then I've founded York's game development club ([gdyu.club](https://www.gdyu.club/)), learned full-stack development, got good at OOP, and have experience with many different tools and languages, and professional internship experience at companies like Scotiabank and Google (see my [resume!!](/resume)).
</p>

<p>
I'm a fan of programming and creating things in many forms, and am always looking for opportunities to use code to make interesting, expressive, artistic, and cool stuff.
</p>

<p>When I'm not working or running my club, you can find me <a  id="hobby" class="hobby-anchor" href="javascript:;" onclick="next_hobby()">current_hobby.</a></p>
}


templ resumeContent(){

<title>Resume</title>
<meta property="og:title" content="Resume">

<style>
    .resume-frame{
    width:70vw;
    max-width:640px;
    height:85vh;
    max-height:800px;
    }

</style>

<h1> ~/resume </h1> 

<p>a pdf copy can be found [here](https://drive.google.com/file/d/1A-JDGpGSF8L1QGlRkcnYKbyuZ8CKVL3y/view?usp=sharing)</p>

<iframe src="https://drive.google.com/file/d/1A-JDGpGSF8L1QGlRkcnYKbyuZ8CKVL3y/preview" class="resume-frame" allow="autoplay"></iframe>

}

templ projectContent(){
<title>Projects</title>
<meta property="og:title" content="Projects">
<h1>~/projects</h1>
<p> This page  <em>had</em> a selection of my favorite/recent projects, but it was quite outdated.</p>
<p>I'll come up with a nicer view later, but for those interested:</p>
<a href="https://github.com/JUB-Yoush/" target="_blank" >github</a>
<a href="https://yoush.itch.io/" target="_blank" >itch.io</a>
}

templ mailContent(){

<title>About</title>
<meta property="og:title" content="Mail">
<h1>~/mail</h1>
<h2>Let me send you mail (please)!</h2>

<p>I was trying to set up a self hosting mailing list, but setting up a mailserver, and everything else involved was a lot of work for something that could end up being used by like 5 people.</p>

<p>I'm not the biggest fan of SAAS conceptually (I enjoy owning and being in control of my tech), but [buttondown](https://buttondown.com/) seems pretty good actually, So I'll go with them for now.</p>

<p>So let me send you mail!</p>
<hr>

<br>

<h2> SIGN UP FORM: </h2>

<form
  action="https://buttondown.com/api/emails/embed-subscribe/jaydenpb"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/jaydenpb', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Email:</label>
  <input type="email" name="email" id="bd-email" />

  <input type="submit" value="Subscribe" />
</form>

<br>

<hr>

<h2> FAQ </h2>

<h3> Why do I want to send you mail?</h3>

<p>I wanted a way to publicly announce/share things on a system that I had control over. I didn't want to be beholden to an algorithm determining if people got my messages, or put my eggs in the basket of some platform that may not be around in a few years.</p>

<p>Email is utilitarian and boring, and the most boring and practical technology seem to stick around the longest. If I want to grow a stable and consistent group of people who are interested in being interested in the same things I'm interested in, an email list seems like the sensible option.</p>

<h3>What will I send, how often will I send it?</h3>

<p>The mailing list will primarily be a way to notify people when new blog post or other interesting things I make release. I could also potentially do a Tom Scott style "here are cool things I checked out and recommend" as well.</p>

<p>I'll probably send one out perhaps every 2 months? I wouldn't want to make it too often and annoy people. If there's something special I'd like to share/announce then I might include an extra one outside that schedule.</p>

<p>I would've also wanted to have different tiers of subscribers, from "Send me an annual update" to "Send me anything whenever man I don't even care like-" but that'll have to wait until if/when I decide to upgrade buttondown tiers.</p>

<h3>What if I end up doing x and breaking your trust?</h3>

<p>I solemnly vow to never:</p>
<ul>
  <li>Sign someone up without their consent.</li>
  <li>Post the output of an LLM</li>
  <li>Sell your email or other information.</li>
  <li>Do anything to make the experience of the mail subscriber worse for personal gain.</li>
 </ul>

<p>I hope you can trust me!</p>
}


templ contactContent(){
<h1 id="-contact">~/contact</h1>
<h2 id="note-about-reaching-out-">Note about reaching out:</h2>
<p>Like everyone else, I am quite busy.</p>
<p>I only have the bandwidth to respond to inquiries that align with my interests and schedule.</p>
<p>Thank you for understanding.</p>
<h3 id="email-">Email:</h3>
<p>jaydenpb at protonmail dot com (written like that to avoid spam)</p>
<h3 id="discord-">Discord:</h3>
<p>youshle</p>
<h3 id="linkedin-">Linkedin:</h3>
<p><a href="https://www.linkedin.com/in/jaydenpb/">/in/jaydenpb</a></p>
}